/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/


* {
  margin: 0 auto;
  width: 80%;

}



body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  color: #211c33;
  padding-left: 2rem;
  background-color: white;
  margin-bottom: 4rem;

}


h1 {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  -webkit-margin-before: 1.67em;
  margin-block-start: 1.67em;
  -webkit-margin-after: 1.67em;
  margin-block-end: 1.67em;
  background-color: #101D2C;
  text-align: center;
  color: white;

}


.tota11y {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

ul {
  list-style-type: none;


}

.ul__button {

  background-color: #f9f7f6;
  color: #b9863b;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 1.2em 3rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-align: center;
  text-indent: 0px;
  line-height: normal;
  letter-spacing: normal;
  text-rendering: auto;
  width: 100%;

}


.ul__button:hover {
  background-color: #b9863b;
  color: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}

.pokemon-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

#modal-container {
  position: fixed;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: right;
  margin: 0;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  padding: 1rem;
  margin-right: 0.5rem;
}

.modal h1 {

  background: inherit;
  color: inherit;
  text-transform: capitalize;
}

.modal p {

  width: -webkit-max-content;

  width: -moz-max-content;

  width: max-content;
  float: left;
  padding-left: 4rem;
}

.modal img {
  width: 40%;
  padding-left: 5rem;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}




@media screen and (min-width : 700px) and (max-width : 1000px) {

  * {
    width: 90%;
    margin: 0 auto;
  }

  body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
  }

  main {
    padding: 0;
  }

  button.ul__button,
  button.ul__button:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 1.2rem;
    width: 100%;


  }


  ul.pokemon-list {
    padding: 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;



  }

}

@media all and (max-width : 700px) {


  * {
    width: 90%;
    margin: 0 auto;
  }

  body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
  }

  main {
    padding: 0;
  }


  button.ul__button,
  button.ul__button:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    font-size: calc(0.75em + 1vmin);


  }

  h1 {
    width: 100%;
    font-size: calc(1.5em + 1vmin);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;


  }

  main {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;



  }

  ul.pokemon-list {
    padding: 0;
    background-color: #f9f7f6;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;



  }

  div.modal {
    margin-bottom: 1.5rem;
  }

  .modal img {

    width: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }

  .modal p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

  }
}

@media all and (max-width : 500px) {

  * {
    width: 100%;
    margin: 0 auto;
  }

  body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
  }

  main {
    padding: 0;
  }

  iv.modal {
    margin-bottom: 1.5rem;
  }

  .modal img {

    width: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;

  }

  .modal p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

  }

  @media all and (max-width : 300px) {
    .modal img {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }

  }

}